<!-- jQuery -->
<script src="../script/jquery/jquery-1.11.3.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../script/bootstrap/bootstrap.min.js"></script>
<!--validator-->
<script src="../script/bootstrap/bootstrapValidator.min.js?v=1.0"></script>
<!--sbadmin-->
<script src="../script/sbadmin/sb-admin-2.js"></script>
<!--menu-->
<script src="../script/sbadmin/metisMenu.min.js"></script>
<!--json2-->
<script src="../script/common/json2.js"></script>

